.nav {
    list-style-type: none;
    overflow: hidden;
    margin-left: 700px;
}
.home {
    float: left;
}
li a {
    text-align: right;
    padding: 16px;
    text-decoration: none;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
img {
    width: 150px;
    margin-top: 30px;
    margin-left: 70px;
    float: left;
    background-color: white;
    padding: 5px;
}
.nama { 
    font-family: Arial, Helvetica, sans-serif;
}
.kontak {
    color: white;
    background-color: blue;
    border: none;
    padding: 12px 20px;
    text-align: center;
    border-radius: 10%;
    margin-top: 1px;
}
.resume {
    color: green;
    background-color: white;
    padding: 11px 19px;
    border-color: green;
    text-align: center;
    border-radius: 10%;
    margin-top: 1px;
}
.column {
    float: left;
    width: 20%;
    padding: 10px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("white.png");
    background-repeat: no-repeat;
    background-size: 600px 160px;
    background-position: center;
}
.column2 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 200px;
    width: 450px;
    background-image: url("white.png");
    background-repeat: no-repeat;
    background-size: 550px 160px;
    background-position: center;
}
.bio {
    list-style-type: none ;
    overflow: hidden;
    padding: 10px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 100px;
}
.full {
    list-style-type: none ;
    overflow: hidden;
    padding: 5px;
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.border {
    border-style: inset;
    width: 1340px;
    height: 550px;
    background-color: rgb(241, 239, 239);
}
form {
    margin-left: 50px;
    margin-top: 200px;
    background-color: white;
    margin-right: 50px;
    background-size: 100px;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width: 99%;
}
.submit {
    color: white;
    background-color: green;
    width: 99%;
    border: none;
    margin-top: 10px;
    padding: 5px;
}